*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    
}
*{
    font-family:"Roboto";
}
.topDarkBlue{
    display:flex;
    flex-direction:column;
    background-color: #1F2937;
}
    .topBar{
        display:flex;
        justify-content: space-between;
    }
        .headerLogo{
            padding:2%; 
            font-size: 24px;
            color: #F9FAF8;
            padding:2% 5%;
        }
        .Links{
            display: flex;
            gap:10px;
            padding:2% 5%;
        }
        .Links a{
            font-size: 18px;
                color: #E5E7EB;
        }
    .hero{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
        
    }
        .herocontent{
            display:flex;
            flex-direction:column;
            max-width:50%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
            .herocontenttitle{
                font-weight:bolder ;
                font-size: 48px;
                color:#F9FAF8 ;
                
            }
            .herocontenttext{
                font-size: 18px;
                color: #E5E7EB;
                padding: 2% 5%;
                
            }
            .herocontent button{                
                align-self: center;
                color: #F9FAF8;
                background-color: #3882F6;
                padding:  10px 10px;
                border-radius: 15px;
                font-size: 14px;
                
            }
            
            .heroImg img{
                flex-wrap: wrap;
                width: 100%;
                max-width: 700px;
                padding-bottom: 5%;
                padding-right: 5%;
                justify-self: center;
                ;         
            }

.somerandominfo{
    display:flex;
    flex-direction: column;
    padding: 2%;
    max-width: 100%;
    align-items: center;
    font-size: 36px;
}
    .cardcontainer{
        display: flex;
        flex-direction: row;
        flex: auto;
        justify-content: space-between;
        max-width:  100%;
        
        
        
    }
        .infoCard{
            display:flex;
            flex-direction: column;
            
            
        }
        .cardcontainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

            .infoCard img{
                flex:0 1 100%;
                width:200px;
                height:200px;
                padding: 5%;  
            }
            .infoCard p{
                flex: 0 1 100%;
                text-align:center;
                width: 200px;
                height:200px;
                padding: 7%;
                font-size: 18px;
            }

.quote{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E5E7EB;
    padding: 2%;
    
    
}
    .quotetext{
        flex: 1 1 auto;
        width: min(800px,90%);
        text-align: center;
        font-style: italic;
        font-size: 24px;
        color: #1F2937;
    }
    .quoter{
        flex:1 1 auto;
        align-self: flex-end;
    }


.calltoaction{
    
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 2%;
    
    align-items: center;
}
    .ctacontainer{
        display: flex;
        flex-direction: row;
        background-color: rgb(103, 124, 161);
        padding: 2%;
        align-items:center;
        justify-content: space-between;
        width: 50%;
    }
        .LCtaArea{
            display: flex;
            flex-direction: column;
            padding: 0% 2%;
            width: 50%;
            
        }
            .ctatext{padding: 0% 2%;
                font-size: 24px;
                color: #E5E7EB;}
            .ctasubtext{padding: 0% 2%;
                font-size: 24px;
                color: #E5E7EB;}
            .ctabtn button{
                align-self: center;
                color: #F9FAF8;
                background-color: #3882F6;
                padding: 5px 10px;
                border-radius: 15px;
                width: 100%;
                font-size: 16px;
                color: #E5E7EB;
            
            }


.footers{
    background-color: #1F2937;
    text-align: center;
    padding: 2%;
    font-size: 16px;
                color: #E5E7EB;
}
    